@font-face {
  font-family: "as-kee-r0";
  src: url("./resources/as-kee-r0.ttf");
}
html,
body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Hanken Grotesk", sans-serif;
}
marquee {
  padding: 0.5vw 0 0.5vw 0;
  height: 1vw;
  position: fixed;
  bottom: 0;
  background-color: white;
  color: black;
  width: 100%;
  animation: marquee 10s linear infinite;
  z-index: 1000;
}
a {
  text-decoration: none;
  color: white;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: fixed;
  top: 0;
  padding-bottom: 0.75vw;
  padding-right: 0.75vw;
  width: 100%;
  z-index: 1000;
  font-size: 0.75vw;
}

.logo {
  padding: 1vw 1vw 0 0;
}
.nav-element {
  padding: 1vw 1vw 0 0;
}
.nav-element:hover {
  text-decoration: underline;
}
.section-title {
  font-size: 10vw;
  font-family: "as-kee-r0";
  padding: 5vw 0 0.25vw 0;
  display: flex;
  justify-content: center;
}
.splash {
  display: block;
  height: 100%;
  background-image: url("./resources/burning-house.jpg");
  background-position-y: -250px;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 4vw;
}
.text {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: justify;
}
.contact {
  padding: 2vw 0 0 0;
  font-size: 20px;
  font-style: italic;
  padding-left: 10%;
}
.donations {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tile {
  height: 100%;
  width: 100%;
}
.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.sea-dragons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.book-tile {
  width: 100%;
  height: 100%;
  background-image: url("./resources/maousoleum.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: red;
}
.book-section {
  color: red;
}
.book {
  font-size: 17vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.book-link {
  font-size: 4vw;
}
.text-link {
  font-style: italic;
}
.text-link:hover {
  text-decoration: underline;
}
.donations-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1vw;
}
.donations-text {
  padding-top: 3vw;
  text-align: center;
}
.donations-cta {
  display: flex;
  font-size: 1.5vw;
  justify-content: space-around;
  width: 25%;
}
.text-contact {
  padding-bottom: 5vw;
  font-size: 1vw;
}
.suffering {
  position: relative;
  text-align: center;
}
.sofrimento {
  position: absolute;
  color: yellow;
  font-size: 10vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.destroyer {
  z-index: 998;
}
@media only screen and (min-width: 2000px) {
  .splash {
    background-position-y: -650px;
  }
  .section-title {
    padding: 2vw 0 0.25vw 0;
    font-size: 7vw;
  }
  .sea-dragons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
  }
  .book-link {
    font-size: 3vw;
  }
  .donations-title {
    padding-top: 3.5vw;
  }
}
