body,
html {
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Hanken Grotesk", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.wrapper {
  background-image: url("resources/john_martin.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vw;
  width: 100vw;
  position: relative;
}
.no-scroll {
  overflow: hidden;
}
.mobile {
  display: none;
}
.nav {
  position: fixed;
  top: 3%;
  right: 10%;
  font-size: 2.5vw;
  z-index: 998;
}
.nav:hover {
  color: red;
}
.text-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.book-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.book-title {
  font-size: 5vw;
  font-family: "Dela Gothic One", sans-serif;
}
.subtext {
  font-size: 2vw;
  font-style: italic;
}
.accordion-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vw;
}
.accordion-element {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 1vw;
}
details summary {
  cursor: pointer;
  font-size: 1.5vw;
  text-align: center;
}
.accordion-text {
  font-size: 1.25vw;
}
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3vw;
}
.button {
  background: none;
  border: none;
  padding: 0.5vw;
  margin: 0;
  color: inherit;
  font-size: 2vw;
  cursor: pointer;
  font-style: italic;
  font-family: inherit;
  border: 1px solid white;
}
.button:hover {
  color: black;
  background-color: white;
}
.modal {
  position: fixed;
  display: none;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 15% auto;
  background-color: #000;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
.modal-title {
  font-size: 1.25vw;
  padding-left: 25px;
}
.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.close {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-size: 1.5vw;
}
.modal-list li {
  padding: 16px;
  font-size: 1vw;
}
.colab-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vw;
}
@keyframes from-the-bottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@media only screen and (min-width: 2000px) {
  .modal-content {
    margin: 5% auto;
  }
}

@media only screen and (max-width: 768px) {
  .john-martin {
    display: none;
  }
  .wrapper {
    background-image: url("resources/john_martin.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  .accordion-grid {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vw;
  }
  .accordion-text {
    text-align: justify;
    font-size: 3vw;
  }
  .accordion-element {
    width: 75%;
  }
  details summary {
    font-size: 3.5vw;
  }
  .book-title {
    font-size: 7vw;
  }
  .subtext {
    font-size: 3.5vw;
  }
  .button {
    font-size: 5vw;
  }

  .nav {
    font-size: 5vw;
  }
  .modal-title {
    font-size: 3vw;
  }
  .close {
    font-size: 3vw;
  }
  ul {
    padding-left: 0;
  }

  .modal-list li {
    list-style: none;
    font-size: 3vw;
    text-align: center;
  }
  .modal-content {
    padding: 5px;
    width: 75%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1500px) {
  .john-martin {
    display: none;
  }
  .wrapper {
    background-image: url("resources/john_martin.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
  }
  .accordion-grid {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3vw;
  }
  .accordion-text {
    text-align: justify;
    font-size: 2.5vw;
  }
  .accordion-element {
    width: 75%;
  }
  details summary {
    font-size: 3.5vw;
  }
  .book-title {
    font-size: 5vw;
  }
  .subtext {
    font-size: 2vw;
  }
  .button {
    font-size: 5vw;
  }
  .responsive {
    font-size: 2.5vw;
  }
  .modal-list li {
    font-size: 2vw;
  }

  .nav {
    font-size: 5vw;
  }
  .modal-title {
    font-size: 3vw;
  }
  .close {
    font-size: 3vw;
  }
}
